<div class="contact-form">
  <h2>IT'S SIMPLE TO LET US KNOW YOUR PROBLEM OR PROJECT</h2>
  <div class="desc">We wil get back to you in 24 hours</div>
  <div class="form">
    <div class="inputItem">
      <input type="text" placeholder="Full name" />
    </div>
    <div class="inputItem">
      <input type="text" placeholder="Email" />
    </div>
    <div class="inputItem">
      <input type="text" placeholder="Company name" />
    </div>
    <div class="inputItem">
      <input type="text" placeholder="Phone number" />
    </div>
    <div class="inputItem">
      <textarea
        name=""
        id=""
        rows="8"
        placeholder="Project description"
      ></textarea>
    </div>
    <div class="inputItem">
      <input type="file" />
    </div>
    <div class="submit-container">
      <div class="primary-btn">Submit Us</div>
    </div>
  </div>
  <div class="privacy">With the information provided you're agreeing <span class="main_color">Techstargate Privacy and Cookies Policy.</span> </div>
</div>
