<div>
  <app-header
    desc="Your go-to partner in software development with core values in unparalleled quality, effective communication and transparent pricing"
  >
    <h1>About Us</h1>
  </app-header>

  <!-- Since ... -->
  <div class="since">
    <div class="left-bloc">
      <div>IN BUSINESS SINCE 2020</div>
      <div class="base">
        As a software development and Information Technology recruiting company,
        specializing in both applications development and infrastructure
        support. Techstargate offers services in these two major areas.
        Techstargate’ IT staff resources are the best way to enhance your IT
        staff and improve productivity without over-straining your budget. The
        contract staffing and recruiting services available through Techstargate
        will supply you with the best IT talent available. Their services will
        augment your workflow, support new initiatives and help you meet project
        deadlines. Each individual is specialized in one or more specific areas
        which mean you gain access to expertise that you may not have had access
        to through your existing interface.
      </div>
    </div>
    <div class="right-image"></div>
  </div>

  <!-- Strength -->
  <div class="strength"> 
    <h2>OUR STRENGTH</h2>
    <div class="strength-list">
      <div class="strength-item">
        <img src="assets/images/strength/pricing.svg" alt="" />
        <div class="strength-title">Transparent Pricing</div>
        <div class="base">
          We believe that strong business relationships are built on trust and
          reliability. That is why we offer fair transparent pricing at every
          single stage of your project
        </div>
      </div>
      <div class="strength-item">
        <img src="assets/images/strength/expertise.svg" alt="" />
        <div class="strength-title">Established expertise</div>
        <div class="base">
          We have created more than 150 custom software applications for
          companies in almost all professional domains from growing startups to
          mid-sized businesses and enterprise level industry leaders
        </div>
      </div>
      <div class="strength-item">
        <img src="assets/images/strength/engineer.svg" alt="" />
        <div class="strength-title">Highly qualified engineers</div>
        <div class="base">
          Techstargate’s team of more than 250 software experts is one of the
          best in the industry. In fact, we hire more engineers with computer
          science degrees than our competitors
        </div>
      </div>
      <div class="strength-item">
        <img src="assets/images/strength/experience.svg" alt="" />
        <div class="strength-title">Broad industry experience</div>
        <div class="base">
          We have built custom applications for businesses in many industries
          including; health care, energy, oil and gas, entertainment,
          transportation and shipping, Ecommerce, finance and more
        </div>
      </div>
    </div>
  </div>

  <!-- Business Philosophy -->
  <div class="philo">
    <h2>OUR BUSINESS PHILOSOPHY</h2>
    <div class="philo-list">
      <div class="philo-item top-cyan">
        <div class="font-medium">AGILITY</div>
        <div class="base">
          A complex system that works is invariably found to have evolved from a
          simple system that worked. Our iterative process enables us to quickly
          adapt to new opportunities while building upon a solid foundation
        </div>
      </div>
      <div class="philo-item top-yellow">
        <div class="font-medium">RAPID DELIVERY</div>
        <div class="base">
          The only reliable way to ensure you are building the right software is
          to get feedback from real users. That is why wwe ship early and often
        </div>
      </div>
      <div class="philo-item top-purple">
        <div class="font-medium">USER-CENTERED DESIGN</div>
        <div class="base">
          Our designs are built on a deep understanding of our clients’ business
          and their customers. We incorporate feedback and analytics to create
          functional, beautiful and accessible interfaces
        </div>
      </div>
    </div>
  </div>

  <app-contact-form></app-contact-form>
  <app-footer></app-footer>
</div>
