<div class="clients">
 
  <h2>
    <span class="main_color">SUCCESSFULLY</span> PROVIDING SOLUTIONS TO
    <span class="main_color">HIGH VALUE</span> CLIENTS
  </h2>
  <div class="desc">
    Transforming problems to challenges and customer desired solutions with modern technologies
  </div>
  <div class="clients-list">
    <img src="assets/images/clients/Acme.png" alt="">
    <img src="assets/images/clients/Radiyal.png" alt="">
    <img src="assets/images/clients/Asgardia.png" alt="">
    <img src="assets/images/clients/Circle.png" alt="">
    <img src="assets/images/clients/Code Lab.png" alt="">
  </div>
</div>
