<div>
  <app-header
    desc="We are leaders in engineering, design and product managementbut our most valuable service is how we combine these disciplines to deliver for our clients"
  >
    <h1>Our Services</h1>
  </app-header>

  <!-- Since ... -->
  <div class="since">
    <div class="left-bloc">
      <div>IN BUSINESS SINCE 2020</div>
      <div class="base">
        We take the time to understand your vision, help define your product and
        then design and build it. We are transparent and communicative
        throughout our process. We take great pride in the quality of our work
      </div>
    </div>
    <div class="right-image"></div>
  </div>
 
  <!-- Our Services -->
  <div class="services">
    <h2>OUR SERVICES</h2>
    <div class="service-list">
      <div class="service-item">
        <img src="assets/images/services/e_commerce.svg" alt="" />
        <div class="service-title">E-Commerce</div>
        <div class="base">
          Take your e-commerce efforts to the next level to be the best in your
          niche or start your full-on-digital transformation
        </div>
      </div>
      <div class="service-item">
        <img src="assets/images/services/ai.svg" alt="" />
        <div class="service-title">Artificial intellligence</div>
        <div class="base">
          Techstargate applies deep domain expertise in AI technologies to
          uncover unmet needs of enterprises and solve some of their toughest
          problems
        </div>
      </div>
      <div class="service-item">
        <img src="assets/images/services/cloud.svg" alt="" />
        <div class="service-title">Cloud/DevOps transition</div>
        <div class="base">
          DevOps engineers can help you design and implement continuous delivery
          pipelines and elastic applications. Our DevOps specialist help guide
          the adoption of foundational concepts not just technologies
        </div>
      </div>
      <div class="service-item">
        <img src="assets/images/services/ui.svg" alt="" />
        <div class="service-title">UI/UX Design</div>
        <div class="base">
          At Techstargate we specialize in human-centered customer experiences
          across digital product
        </div>
      </div>
      <div class="service-item">
        <img src="assets/images/services/webdev.svg" alt="" />
        <div class="service-title">Web Development</div>
        <div class="base">
          We have created more than 150 custom software applications for
          companies in almost all professional domains from growing startups to
          mid-sized businesses and enterprise level industry leaders
        </div>
      </div>
      <div class="service-item">
        <img src="assets/images/services/mobiledev.svg" alt="" />
        <div class="service-title">Mobile Development</div>
        <div class="base">
          Techstargate’s team of more than 250 software experts is one of the
          best in the industry. In fact, we hire more engineers with computer
          science degrees than our competitors
        </div>
      </div>
      <div class="service-item">
        <img src="assets/images/services/enterprise.svg" alt="" />
        <div class="service-title">Enterprise software development</div>
        <div class="base">
          We believe that strong business relationships are built on trust and
          reliability. That is why we offer fair transparent pricing at every
          single stage of your project
        </div>
      </div>
      <div class="service-item">
        <img src="assets/images/services/staff.svg" alt="" />
        <div class="service-title">Staff augmentation</div>
        <div class="base">
          We have created more than 150 custom software applications for companies in almost all professional domains from growing startups to mid-sized businesses and enterprise level industry leaders
        </div>
      </div>
     
    </div>
  </div>

  <app-contact-form></app-contact-form>
  <app-footer></app-footer>
</div>
