<div class="footer">
  <div class="links">
    <div class="links-bloc">
      <img src="assets/images/logo.svg" alt="" class="logo" />
      <div class="contact-item">
        <img src="assets/images/phone.svg" alt="" />
        <div>+1 202 2511 678</div>
      </div>
      <div class="contact-item">
        <img src="assets/images/email.svg" alt="" />
        <div>info@techstargate.com</div>
      </div>
      <div class="contact-item">
        <img src="assets/images/location.svg" alt="" />
        <div>
          ECHSTARGATE L.L.C <br> 712 H Street NE Suite 1024 <br> USA Washington DC 20002 <br>USA
        </div>
      </div>
      <div class="link-item">About Techstargate</div>
      <div class="link-item">Sitemap</div>
      <div class="socials">
        <img src="assets/images/x.svg" alt="" />
        <img src="assets/images/linkedin.svg" alt="" />
        <img src="assets/images/insta.svg" alt="" />
        <img src="assets/images/facebook.svg" alt="" />
      </div>
    </div>
    <div class="links-bloc">
      <div class="title">EXPERTISE</div>
      <div class="link-item">Web and enterprise portals</div>
      <div class="link-item">Artificial intelligence</div>
      <div class="link-item">Web&Mobile Apps</div>
      <div class="link-item">Big Data & business Intelligence</div>
      <div class="link-item">Ecommerce</div>
      <div class="link-item">Content & Document Management</div>
    </div>
    <div class="links-bloc">
      <div class="title">SERVICES</div>
      <div class="link-item">Enterprise software development</div>
      <div class="link-item">Staff augmentation</div>
      <div class="link-item">Application Development</div>
      <div class="link-item">Application integration</div>
      <div class="link-item">Q&A Support</div>
    </div>
    <div class="links-bloc">
      <div class="title">TECHNOLOGIES</div>
      <div class="link-item">Java</div>
      <div class="link-item">PHP</div>
      <div class="link-item">Python</div>
      <div class="link-item">FrontEnd</div>
      <div class="link-item">Backend</div>
      <div class="link-item">Cloud</div>
      <div class="link-item">Mobile Platform</div>
    </div>
  </div>
  <div class="copyRight">
    Copyright 2021 - 2026 @ Techstargate LLC All Rights Reserved
  </div>
</div>
