<div>
  <app-header
    desc="Thank you for your interest in Techstargate. Please fill out the form below or email us info@techstargate.com and we will get back to you promptly regarding your request"
  >
    <h1>Contact Us</h1>
  </app-header>

  <!-- OFFICE AND LOCATIONS -->
  <div class="office-locations">
    <div class="title">OFFICES & LOCATIONS</div>
    <div class="f-medium">Head Quarters</div>
    <div class="office-name">TECHSTARGATE L.L.C <br> 712 H Street NE Suite 1024 <br>Washington DC 20002 <br>USA</div>
  </div>

  <!-- How to start -->
  <div class="how-to-start">
    <h2>HOW TO START</h2>
    <div class="base how-desc">Thank you for your interest in Techstargate. Please fill out the form below or email us at info@techstargate.com and we will get back to you promptly regarding your requesst</div>
  </div>

  <div class="how-list">
    <div class="how-item">
        <div class="number">1</div>
        <div class="how-text-wrapper">
            <div class="f-medium-2">Contact</div>
            <div class="how-item-text">Please submit your project request(RFI, RFQ, RFP). We can sign a non-disclosure agreement(NDA) before sharing any business sensitive information</div>
        </div>
    </div>
    <div class="how-item">
        <div class="number">2</div>
        <div class="how-text-wrapper">
            <div class="f-medium-2">Analysis</div>
            <div class="how-item-text">Techstargate consultant will call you to clarify your project requirements. We involve subject matter experts during this stage to elaborate and propose the optimal technical and business solution</div>
        </div>
    </div>
    <div class="how-item">
        <div class="number">3</div>
        <div class="how-text-wrapper">
            <div class="f-medium-2">Cost Estimate</div>
            <div class="how-item-text">Having clarify the requirements, we will provide our free non-binding bid proposal for your review. We will be glad to provide any clarifications required and adjust the proposal through the negotiation process</div>
        </div>
    </div>
    
  </div>


  <!-- privacy -->
  <div class="how-to-start">
    <h2>PRIVACY</h2>
    <div class="base">Techstargate technologies respects your privacy and takes comprehensive measures to safeguard your personal and business information. We will not share your credentials and business data with any 3rd parties without your permission. Multi-level corporate security policies and procedures ensure prevention from loss, misuse or unauthorized distribution of any business-sensitive information you share with us</div>
  </div>

  <app-contact-form></app-contact-form>
  <app-footer></app-footer>
</div>
