<div class="custom-software">
  <h2>CUSTOM SOFTWARE DEVELOPMENT ENTERPRISE WEB & MOBILE APPS</h2>
  <div class="desc">
    Full-cycle services that cover every aspect of software engineering.
  </div>
  <div class="softwares">
    <div class="software-item">
      <img src="assets/images/software/computer.svg" alt="" />
      <div>ENTERPRISE SOFTWARE DEVELOPMENT</div>
      <div class="desc-2">
        Creating strategic software products that drive revenue, reduce cost,
        and transform their business and market performance
      </div>
    </div>
    <div class="software-item">
      <img src="assets/images/software/people.svg" alt="" />
      <div>STAFF AUGMENTATION</div>
      <div class="desc-2">
       Adding skilled technical resources to your in house development team on either a short or long term basis with quality service and reducing cost
      </div>
    </div>
    <div class="software-item">
      <img src="assets/images/software/certification.svg" alt="" />
      <div>SOFTWARE LIFE-CYCLE MANAGEMENT</div>
      <div class="desc-2">
       Ensuring high-quality, secure, and cost-effective software by aligning development with business goals. SLM facilitates continuous improvement, allowing systems to evolve to meet changing needs. 
      </div>
    </div>
  </div>
</div>
